<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.mapper.ProductMapper">
	
	<insert id="insertFromProductToDelivery">
		insert into delivery values(#{DELI_NO},#{DELI_PD_NO},#{DELI_TP_NO},#{DELI_ADDR},#{DELI_STATUS},#{DELI_DATE},#{DELI_AREA})
	</insert>
	
	<resultMap type="Product" id="productResultMap">
		<id column="pd_no" property="pdNo"/>
		<result column="pd_pdn_no" property="pdPdnNo"/>
		<result column="PD_PCG_NO" property="pdPcgNo"/>
		<result column="PD_CNT" property="pdCnt"/>
		<result column="PD_PRICE" property="pdPrice"/>
		
		<association property="pcg" javaType="ProductCategory">
			<id column="pcg_no" property="pcgNo"/>
			<result column="pcg_name" property="pcgName"/>		
		</association>
		
		<association property="pdn" javaType="Production">
			<id column="pdn_no" property="pdnNo"/>
			<result column="pdn_product" property="pdnProduct"/>
		</association>
	</resultMap>
	
	<update id="updateProductList">
		update product set pd_price=#{pdPrice} where pd_no=#{pdNo}
	</update>
	
	<!-- 출하 버튼을 누르면 상품테이블에서는 상태값 변경 -->
	<update id="updateGotoDelivery">
		update product set pd_status = 1 where pd_no = #{pd_no}
	</update>
	
	<select id="selectProductNoList" parameterType="Product" resultMap="productResultMap">
		select pd_no, pcg_name, pdn_product,pd_cnt, pd_price from product inner join pcategory on pd_pcg_no = pcg_no inner join production on pd_pdn_no = pdn_no
		where pd_no = #{pdNo}
	</select>
	
	<select id="selectProductList" parameterType="Product" resultMap="productResultMap">
		select * from product inner join pcategory on pd_pcg_no = pcg_no inner join production on pd_pdn_no = pdn_no where pd_status = 0
	</select>
	
	<select id="selectDynamicProductList" parameterType="Product" resultMap="productResultMap">
		select pd_no, pcg_name, pdn_product, pd_cnt, pd_price from product inner join pcategory on pd_pcg_no = pcg_no inner join production on pd_pdn_no = pdn_no
		<where>
			<if test="pdNo!=null and pdNo!=''">
				pd_no like '%'||#{pdNo}||'%'
			</if>
			<if test="pdn.pdnProduct!=null and pdn.pdnProduct!=''">
				and pdn_product like '%'||#{pdn.pdnProduct}||'%'
			</if>
		</where>
		and pd_status = 0 order by pd_no
	</select>
</mapper>